@{
    ViewData["Title"] = "Activation Code Sent";
}

<h3>You've successfully registered.  Check your e-mail to activate your account. </h3>

<div class="form-group">
    <a asp-action="Login"
       asp-controller="Account">
        Click here to Login
    </a>
</div>