@{ 
    ViewData["Title"] = "User activation";
}

<h3> @ViewData["Message"]</h3>

<div class="form-group">
    <a asp-action="Login"
       asp-controller="Account">
        Click here to Login
    </a>
</div>